<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Swipe.Press</title>
    <style>
      @font-face {
          font-family: 'Lora';
          src: url('/static/fonts/Lora-Bold.ttf');
          font-weight: bold;
          font-style: normal;
      }

      @font-face {
          font-family: 'Lora';
          src: url('/static/fonts/Lora-Regular.ttf');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'Material Icons';
          src: url('/static/fonts/MaterialIcons-Regular.ttf') format('truetype');
      }
    </style>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#F5A623">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#F5A623">
    <meta name="apple-mobile-web-app-title" content="Swipe.Press">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#F5A623">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="stylesheet" href="/static/material.min.css">
    <script src="/static/cash.min.js"></script>
    <link rel="manifest" href="manifest.webmanifest">
  </head>
  <body>
    <div id="app">This is your fallback content in case JavaScript fails to load.</div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="/static/material.min.js"></script>
    <script src="/static/a2a.min.js"></script>
  </body>
</html>
