<template>
  <div class="swipepress">

    <!-- Onboarding -->
    <v-touch id="onboarding" v-on:swipe="onboardingSwipe($event)">
      <div class="content">
        <div class="wrapper">
          <div class="slide1 slide transition-opacity opacity-active"><img style="max-width: 100px;" src="../assets/logo.png"/><h1>Welcome to Swipe.Press!</h1><p>We will go over how to use the app.</p></div>
          <div class="slide2 slide transition-opacity"><p>Pull down and click the refresh icon to get new articles.</p><img src="../assets/refresh.png"/><br/><br/><p>Swipe right to save an article.</p><img src="../assets/swipe_right.png"/><br/><br/><p>Swipe left to remove it.</p><img src="../assets/swipe_left.png"/></div>
          <div class="slide3 slide transition-opacity"><p>The menu has your saved articles and options to clear the saved articles, or completely reset the app.</p><br/><img style="height: 400px; width: initial;" src="../assets/menu.png"/></div>
          <div class="slide4 slide transition-opacity"><p>This is also a web app, so add it to your homescreen!</p><br/><p>iOS</p><br/><img style="height: 25px; width: initial;" src="../assets/ios1.png"/><br/><img style="height: 100px; width: initial;" src="../assets/ios2.png"/><hr/><p>Android</p><br/><img style="height: 100px; width: initial;" src="../assets/android.png"/></div>
        </div>
      </div>
      <nav>
        <button class="mdl-button mdl-js-button left" v-on:click="onboardingLeft()"><i class="material-icons">chevron_left</i></button>
        <span style="flex: 1 1 0%;"></span>
        <i aria-hidden="true" class="material-icons dot1 i-active">fiber_manual_record</i>
        <i aria-hidden="true" class="material-icons dot2">fiber_manual_record</i>
        <i aria-hidden="true" class="material-icons dot3">fiber_manual_record</i>
        <span style="flex: 1 1 0%;"></span>
        <button class="mdl-button mdl-js-button right" v-on:click="onboardingRight()"><i class="material-icons">chevron_right</i></button>
      </nav>
    </v-touch>
    <!-- Drawer -->
    <v-touch class="drawer transition-left move-left">
      <h4 v-if="savedArticles && savedArticles.length">Saved Articles</h4>
      <ul v-if="savedArticles && savedArticles.length">
        <li v-for="article, index in savedArticles" v-on:click="getArticle(article, index, true)" :style="{opacity: article.read}">
          <p>{{article.title}}</p>
        </li>
      </ul>
      <button class="mdl-button mdl-js-button mdl-button--raised mld-button--colored" v-on:click="clearData($event, false)">Clear Saved Articles</button>
      <button class="mdl-button mdl-js-button mdl-button--raised" v-on:click="clearData($event, true)">Reset App</button>
    </v-touch>
    <div class="overlay" v-on:click="menu($event)"></div>
    <!-- Header Icons -->
    <i class="material-icons menu" v-on:click="menu($event)">menu</i>
    <i class="material-icons back-arrow" v-on:click="goBack($event)">arrow_back</i>
    <i class="material-icons refresh" v-on:click="refreshArticles($event)">refresh</i>
    <span class="articles-number" v-cloak>{{this.articlesNumber}}</span>
    <!-- Articles List -->
    <div class="no-articles" v-if="articles.length == 0 && !loading && !article" v-on:click="refreshArticles($event)"><i class="material-icons">playlist_add_check</i> <p>You're all caught up!</p></div>
    <ul v-if="articles && articles.length && !loading" id="main-articles">
      <transition-group name="list">
        <li v-for="article, index of articles" v-bind:class="article.created" v-if="article" :key="article" :style="{opacity: article.read}" v-on:click="getArticle(article, index, false)" v-bind:pan-options="{ direction: 'horizontal', threshold: 100 }" v-bind:swipe-options="{ direction: 'horizontal', threshold: 100 }">
          <div class="check"><i class="material-icons">save</i></div>
          <span class="dot" v-if="article.read == 1"></span>
          <span class="dot-white" v-else></span>
          <v-touch class="main-swipe" v-on:panmove="onSwipe(article, index, $event)" v-on:panend="onSwipeEnd(article, index, $event)" v-on:swipe="onSwipe(article, index, $event)">
            <div class="left" v-if="article.image_there">
              <img v-if="article.image_there" :src="article.image" :alt="article.title" />
            </div>
            <div class="right">
              <small class="newspaper">{{article.newspaper}}</small>
              <small class="date">{{article.date}}</small>
              <p>{{article.title}}</p>
            </div>
          </v-touch>
          <div class="close"><i class="material-icons">delete_forever</i></div>
        </li>
      </transition-group>
    </ul>
    <!-- Full Article View -->
    <i class="material-icons share" v-on:click="onShareClick($event)">share</i>
    <div class="full-article transition-article move-up">
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://www.google.com" data-a2a-title="Google">
        <a class="a2a_button_email"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_reddit"></a>
        <a class="a2a_button_copy_link"></a>
      </div>
      <img src="" alt="" v-cloak>
      <h2 class="title"></h2>
      <p class="author"></p><p class="date"></p>
      <div class="body"></div>
      <div id="div-gpt-ad-5910725-1" style="text-align: center"></div>
      <div id="cta">
        <div class="check-article" v-on:click="check_article($event)"><i class="material-icons">save</i></div>
        <div class="close-article" v-on:click="close_article($event)"><i class="material-icons">delete_forever</i></div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import VueTouch from 'vue-touch';
import localStorageDB from '../../static/localStorageDB.min.js';

var lib = new localStorageDB("articles", localStorage);
if (lib.isNew()) {
  lib.createTable("articles", ["title", "url", "image", "image_there", "big_image", "image_filename", "newspaper", "date", "created", "author", "body", "read", "local_url"]);
  lib.createTable("deletedArticles", ["created"]);
  lib.createTable("savedArticles", ["title", "url", "image", "image_there", "big_image", "image_filename", "newspaper", "date", "created", "author", "body", "read", "local_url"]);
}

export default {
  name: 'swipepress',
  data: function () {
    return {
      articles: [],
      savedArticles: [],
      screenDistance: 0,
      startSwipe: true,
      panright: true,
      panleft: true,
      menuOpen: false,
      articlesNumber: 0,
      number: 1,
      once: true,
      index: 0,
      loading: false,
      article: false
    }
  },
  methods: {
    check_article: function(e) {
      $('div.check-article').addClass('check-article-border');
      let saved = this.articles.splice(this.index, 1);
      this.savedArticles.push(saved[0]);
      lib.insert("savedArticles", saved[0]);
      lib.deleteRows("articles", {created: saved[0].created});
      lib.commit();
      setTimeout(() => {
        this.goBack();
        $('div.check-article').removeClass('check-article-border');
      }, 300);
    },
    close_article: function(e) {
      $('div.close-article').addClass('close-article-border');
      let deleted = this.articles.splice(this.index, 1);
      if (deleted[0].read == 1) {
        this.articlesNumber--;
      }
      lib.insert("deletedArticles", {created: deleted[0].created});
      lib.deleteRows("articles", {created: deleted[0].created});
      lib.commit();
      setTimeout(() => {
        this.goBack();
        $('div.close-article').removeClass('close-article-border');
      }, 300);
    },
    onboarding: function() {
      if (window.localStorage.getItem('once') !== "false") {
        const onboarding = $('#onboarding');
        onboarding.find('.slide').css('width', window.innerWidth - 32 + 'px');
        $('body').css('overflow-y', 'hidden');
        $('#main-articles').css('overflow-y', 'hidden');
        window.localStorage.setItem('once', false);
      } else {
        onboarding.remove();
        $('body').css('overflow-y', 'auto');
        $('#main-articles').css('overflow-y', 'auto');
      }
    },
    onboardingSwipe: function(e) {
      if(e.velocity < 0) {
        this.onboardingRight();
      } else if (e.velocity > 0) {
        this.onboardingLeft();
      }
    },
    onboardingRight: function() {
      const onboarding = $('#onboarding');
      this.number++;
      if (this.number == 5) {
        onboarding.remove();
        $('body').css('overflow-y', 'auto');
        $('#main-articles').css('overflow-y', 'auto');
      }
      onboarding.find('.slide' + this.number).css('left', 0);
      onboarding.find('.slide' + this.number).addClass('opacity-active');
      onboarding.find('.slide' + (this.number-1)).css('left', 'initial');
      onboarding.find('.slide' + (this.number -1)).removeClass('opacity-active');
      onboarding.find('.dot' + this.number).addClass('i-active');
      onboarding.find('.dot' + (this.number-1)).removeClass('i-active');
    },
    onboardingLeft: function() {
      const onboarding = $('#onboarding');
      this.number--;
      if (this.number <= 1) {
        this.number = 1;
      }
      onboarding.find('.slide' + (this.number)).css('left', 0);
      onboarding.find('.slide' + this.number).addClass('opacity-active');
      onboarding.find('.slide' + (this.number+1)).css('left', 'initial');
      onboarding.find('.slide' + (this.number+1)).removeClass('opacity-active');
      onboarding.find('.dot' + this.number).addClass('i-active');
      onboarding.find('.dot' + (this.number+1)).removeClass('i-active');
    },
    onShareClick: function(content) {
      $('.a2a_kit').toggleClass('display');
      window.scrollTo(0,0);
    },
    clearData: function(e, allData) {
      if (allData) {
        this.savedArticles = [];
        this.articles = [];
        lib.drop();
        lib = new localStorageDB("articles", localStorage);
        if (lib.isNew()) {
          lib.createTable("articles", ["title", "url", "image", "image_there", "big_image", "image_filename", "newspaper", "date", "created", "author", "body", "read", "local_url"]);
          lib.createTable("deletedArticles", ["created"]);
          lib.createTable("savedArticles", ["title", "url", "image", "image_there", "big_image", "image_filename", "newspaper", "date", "created", "author", "body", "read", "local_url"]);
        }
        this.menu();
        this.loadArticles();
      } else {
        this.articlesNumber = lib.queryAll("articles", {query: {read: 1}}).length;
        this.savedArticles = [];
        for (let i = 0; i < lib.queryAll("savedArticles").length; i++) {
          let temp = lib.queryAll("savedArticles")[i].created;
          lib.insert("deletedArticles", {created: temp});
        }
        lib.deleteRows("savedArticles");
        lib.commit();
      }
    },
    refreshArticles: function(e) {
      const refresh = $('i.refresh');
      const noArticles = $('.no-articles i');
      refresh.addClass('spin-animate');
      noArticles.addClass('pulse');
      setTimeout(() => {
        this.loadArticles();
        noArticles.removeClass('pulse');
        refresh.removeClass('spin-animate');
      }, 1500);
    },
    menu: function(e) {
      const drawer = $('.drawer');
      const overlay = $('.overlay');
      const app = $('#app');
      if (this.menuOpen) {
        drawer.addClass('move-left');
        overlay.css('opacity', '0');
        setTimeout(() => {
          overlay.removeClass('display');
          app.removeClass('app-toggle');
        }, 100);
      } else {
        overlay.addClass('display');
        setTimeout(() => {
          drawer.removeClass('move-left');
          overlay.css('opacity', '1');
          app.addClass('app-toggle');
        }, 100);
      }
      this.menuOpen = !this.menuOpen;
    },
    getArticle: function (article, index, savedArticle) {
      this.article = true;
      if (this.once) {
        this.once = false;
        // console.log('once');
      }
      this.index = index;
      this.$router.push({path: article.local_url});
      if (this.menuOpen) { this.menu(); }
      if (article.read == 1) { this.articlesNumber--; }

      $('.articles-number').css('display', 'none');
      $('i.share').css('display', 'inline-block');
      $('i.menu').css('display', 'none');
      $('i.refresh').css('display', 'none');

      if (savedArticle) {
        $('#cta').css('display', 'none');
        lib.update('savedArticles', {created: article.created}, function(row) {
          row.read = 0.5;
          return row;
        });
      } else {
        $('#cta').css('display', 'flex');
        lib.update('articles', {created: article.created}, function(row) {
          row.read = 0.5;
          return row;
        });
      }
      article.read = 0.5;
      lib.commit();

      window.localStorage.setItem('last_url', article.local_url);

      this.screenDistance = window.pageYOffset;
      window.scrollTo(0,0);
      const full_article = $('div.full-article');
      const back_arrow = $('i.back-arrow');
      $('#main-articles').css('display', 'none');

      full_article.find('.a2a_kit').attr('data-a2a-url', 'http:'+article.url);
      full_article.find('.a2a_kit').attr('data-a2a-title', article.title+' | Shared via Swipe.Press');
      if ($('meta[property="og:title"]').length == 0) { $('head').append('<meta property="og:title" content="'+article.title+' | Shared via Swipe.Press" />'); }
      else { $('meta[property="og:title"]').attr('content', article.title); }
      if ($('meta[property="og:url"]').length == 0) { $('head').append('<meta property="og:url" content="http:'+article.url+'" />'); }
      else { $('meta[property="og:url"]').attr('content', article.url); }

      if (article.big_image) {
        full_article.find('img').attr('src', article.big_image);
        full_article.find('img').css('display', 'inline-block');
      } else {
        full_article.find('img').css('display', 'none');
      }
      if (article.author) { full_article.find('.author').text(article.author); }
      full_article.find('.title').text(article.title);
      full_article.find('.date').text(article.date);
      if (article.body) { full_article.find('.body').html(article.body); }

      full_article.find('img.media-image').css('width', '100%');
      full_article.find('img.media-image').css('height', 'initial');
      full_article.css('display', 'block');
      back_arrow.css('display', 'inline');
      full_article.css('height', 'initial');
      setTimeout(() => {
        this.article = false;
        full_article.removeClass('move-up');
      }, 100);
    },
    goBack: function (e) {
      this.$router.push({path: '/'});
      const full_article = $('div.full-article');
      const back_arrow = $('i.back-arrow');
      full_article.addClass('move-right');
      $('.articles-number').css('display', 'inline-block');
      $('i.share').css('display', 'none');
      $('.a2a_kit').removeClass('display');
      window.localStorage.setItem('last_url', '/');
      setTimeout(() => {
        full_article.find('img').attr('src', '');
        full_article.find('.body').html('');
        $('i.menu').css('display', 'inline-block');
        $('i.refresh').css('display', 'inline-block');
        $('#main-articles').css('display', 'block');
        full_article.css('height', '0');
        full_article.css('display', 'none');
        back_arrow.css('display', 'none');
        window.scrollTo(0,this.screenDistance);
        full_article.addClass('move-up');
        full_article.removeClass('move-right');
      }, 300);
    },
    loadArticles: function () {
      let _this = this;
      this.loading = true;
      //https://elasticsearch.fccinteractive.com/fccnn/_search?q=post_date:now+1d&sort=post_date%3Aasc
      axios.get('https://elasticsearch.fccinteractive.com/fccnn/_search?q=domains:15&size=40&sort=post_date%3Adesc')
        .then(function(data) {
          data.data.hits.hits.map(function(arr) {
            let filename, image_url, author_name;
            if(arr._source.search_thumb != null) {
              filename = arr._source.search_thumb;
            } else {
              filename = '';
            }
            if(arr && arr._source && arr._source.images && arr._source.images['0']) {
              image_url = '//' + arr._source.images['0']['16x9_430'];
            } else {
              image_url = '';
            }
            if(arr && arr._source && arr._source.author && arr._source.author.realname) {
              author_name = arr._source.author.realname;
            } else {
              author_name = '';
            }

            let article = lib.queryAll('articles', {query: { created: arr._source.created}})[0];
            let deleted = lib.queryAll('deletedArticles', {query: { created: arr._source.created}})[0];
            let saved = lib.queryAll('savedArticles', {query: { created: arr._source.created}})[0];

            if (article && article.created === arr._source.created) { article = false; } else { article = true; }
            if (deleted && deleted.created === arr._source.created) { deleted = false; } else { deleted = true; }
            if (saved && saved.created === arr._source.created) { saved = false; } else { saved = true; }

            if (article && deleted && saved) {
              lib.insert('articles', {
                title: arr._source.title,
                url: '//' + arr._source.url,
                image: '//' + arr._source.search_thumb,
                image_there: arr._source.search_thumb,
                big_image: image_url,
                image_filename: filename,
                newspaper: arr._source.newspaper,
                date: arr._source.post_date,
                created: arr._source.created,
                author: author_name,
                body: arr._source.body.value,
                read: 1,
                local_url: '/article/' + arr._source.created
              });
              lib.commit();
            }
          });
        }).then(function() {
          $('#main-articles').css('display', 'none');
          _this.articles = [];
          _this.articlesNumber = lib.queryAll("savedArticles", {query:{read: 1}}).length;
          window.scrollTo(0,28);
          let temp = lib.queryAll("articles", {sort:[["created", "DESC"]]});
          for (var i = 0; i < temp.length; i++) {
            if (temp[i].read == 1) {
              _this.articlesNumber++;
            }
            // _this.articles.map(article => obj.find(single.created))
            _this.articles.push(temp[i]);
          }
          _this.savedArticles = [];
          for (let i = 0; i < lib.queryAll("savedArticles").length; i++) {
            // _this.savedArticles.map(article => obj.find(single.created))
            _this.savedArticles.push(lib.queryAll("savedArticles")[i]);
          }
        }).then(function() {
          _this.loading = false;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onSwipe: function(article, index, e) {
      // console.log(e, this.panright, this.panleft);
      if( (e.additionalEvent == 'panright' && e.distance > 20 && e.target.offsetParent && this.panright) || (e.type == 'swipe' && e.velocity > 0) ) {
        let once = true;
        this.panleft = false;

        let check, right, left, parent, mainSwipe;
        parent = $(e.target).closest('li');

        check = parent.find('.check');
        right = parent.find('.right');
        left = parent.find('.left');
        mainSwipe = parent.find('.main-swipe');

        parent.find('.dot').css("display", "none");
        parent.find('.dot-white').css("display", "none");

        check.removeClass('transition-check');
        check.css('width', e.distance+'px');
        right.css('opacity', 1.5 - Math.abs((e.distance / 200)));
        left.css('opacity', 1.5 - Math.abs((e.distance / 200)));

        if (e.distance > 150 || e.type == 'swipe') {
          parent.addClass('transition-check');
          check.css('width', '94%');
          mainSwipe.css('width', '0');
          mainSwipe.css('display', 'none');
          this.panright = true;
          this.panleft = true;
          this.articles.splice(index, 1);
          this.savedArticles.push(article);
          lib.insert("savedArticles", article);
          lib.deleteRows("articles", {created: article.created});
          lib.commit();
        }
      }
      if( (e.additionalEvent == 'panleft' && e.distance > 20 && e.target.offsetParent && this.panleft) || (e.type == 'swipe' && e.velocity < 0) ) {
        let once = true;
        this.panright = false;

        let close, right, left, parent, mainSwipe;
        parent = $(e.target).closest('li');

        close = parent.find('.close');
        mainSwipe = parent.find('.main-swipe');
        right = parent.find('.right');
        left = parent.find('.left');

        parent.find('.dot').css("display", "none");
        parent.find('.dot-white').css("display", "none");

        close.removeClass('transition-check');
        close.css('width', e.distance+'px');
        mainSwipe.css('transform', 'translateX(-'+e.distance+'px)');
        mainSwipe.css('-webkit-transform', 'translateX(-'+e.distance+'px)');
        right.css('opacity', 1.5 - Math.abs((e.distance / 200)));
        left.css('opacity', 1.5 - Math.abs((e.distance / 200)));

        if (e.distance > 150 || e.type == 'swipe') {
          parent.find('.dot').remove();
          parent.find('.dot-white').remove();
          parent.addClass('transition-check');
          close.css('width', '94%');
          mainSwipe.css('width', '0');
          mainSwipe.css('display', 'none');
          this.panright = true;
          this.panleft = true;
          if (article.read == 1) {
            this.articlesNumber--;
          }
          this.articles.splice(index, 1);
          lib.insert("deletedArticles", {created: article.created});
          lib.deleteRows("articles", {created: article.created});
          lib.commit();
        }
      }
    },
    onSwipeEnd: function(article, index, e) {
      if (e.target.offsetParent) {
        var parent;
        parent = $(e.target).closest('li');

        this.panright = true;
        this.panleft = true;
        parent.find('.check').addClass('transition-check');
        parent.find('.check').css('width', '0');
        parent.find('.close').addClass('transition-check');
        parent.find('.close').css('width', '0');
        parent.find('.right').css('opacity', 1);
        parent.find('.left').css('opacity', 1);
        parent.find('.main-swipe').css('transform', 'translateX(0)');
        parent.find('.main-swipe').css('-webkit-transform', 'translateX(0)');
        // $('.refresh').addClass('transition-check');
        setTimeout(() => {
          parent.find('.dot').css("display", "inline-block");
          parent.find('.dot-white').css("display", "inline-block");
        }, 100);
      }
    },
    handleScroll: function() {
      const header = $("#main-header");
      if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
        header.addClass("drop");
      } else {
        header.removeClass("drop");
      }
    }
  }, // End methods
  beforeMount: function() {
    this.loadArticles();
  },
  mounted: function() {
    if (window.localStorage.getItem('once') == null) {
      window.localStorage.setItem('once', true);
    }
    this.onboarding();
    setTimeout(() => {
      if (this.$route.path.split('/').length > 2) {
        let temp_created = this.$route.path.split('/')[2];
        let temp_article = lib.queryAll('articles', {query: {created: temp_created}});
        if (temp_article[0] == undefined) {
          temp_article = lib.queryAll('savedArticles', {query: {created: temp_created}});
        }
        this.getArticle(temp_article[0], false);
      }
    }, 300);
  },
  created: function() {
    window.addEventListener('scroll', this.handleScroll);
    a2a_config.icon_color = "#fff, #4A4A4A";
    if (window.localStorage.getItem('last_url') !== null) {
        this.$router.push(window.localStorage.getItem('last_url'));
      }
  },
  destroyed: function() {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
[v-cloak] {
  display: none;
}

#onboarding {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 105vh;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  position: fixed;
}

#onboarding h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.1;
}

#onboarding p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}

#onboarding img {
  max-width: 300px;
}

#onboarding nav {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 48px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

#onboarding nav>i {
  margin-top: 5px;
  color: #737373;
}

.i-active {
  color: #333 !important;
}

#onboarding .content {
  height: 88%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
}

#onboarding .content .wrapper {
  width: 9999em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#onboarding .content .wrapper .slide {
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  margin-top: 30px;
  opacity: 0;
}

#onboarding .content .wrapper .slide.opacity-active {
  opacity: 1;
}

#onboarding .content .wrapper .slide1 {
  left: 0;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  margin-top: 0;
}

li {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  margin: 2% 10px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li > a {
  display: inherit;
}
.main-swipe {
  /*transition: all .2s ease-in-out;*/
  position: relative;
  cursor: pointer;
  width: 97%;
  display: inline-table;
  padding: 10px 0;
  left: 2px;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}
p {
  display: block;
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  line-height: 17px;
  font-size: 15px;
}
.drawer p {
  font-size: 14px;
  font-weight: normal;
}
.swipepress {
  min-height: 100vh;
}
.swipepress img {
  border-radius: 2px;
  width: 100%;
  max-width: 100px;
  vertical-align: baseline;
}
div.left {
  display: inline-block;
  width: 74px;
  margin-right: 2%;
}
div.right {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  vertical-align: top;
  margin-top: -3px;
}
small.newspaper {
  background-color: #4a4a4a;
  color: #fff;
  padding: 2px 5px;
  border-radius: 1px;
  font-size: 10px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-right: 2%;
}
small.date {
  color: #737373;
  font-family: sans-serif;
}
div.check {
  background-color: #7ED321;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 20px 0;
  z-index: -10;
  width: 0%;
  height: 34px;
  margin-top: 10px;
  margin-right: 5px;
}
div.close {
  background-color: #D0021B;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 20px 0;
  margin-right: 1%;
  position: absolute;
  right: 5px;
  z-index: -10;
  width: 0%;
  height: 34px;
  margin-top: 10px;
}
#cta {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}
div.check-article {
  background-color: #7ED321;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.check-article-border {
  border-bottom: 5px solid #5e9c1b;
  margin-top: -5px;
}
div.close-article {
  background-color: #D0021B;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.close-article-border {
  border-bottom: 5px solid #79000f;
  margin-top: -5px;
}
i.refresh {
  position: relative;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #c5c2c2;
}
.spin-animate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); tranform-origin: 50% 50% 0; -webkit-transform-origin: 50% 50% 0; }
  100% { transform: rotate(360deg); tranform-origin: 50% 50% 0; -webkit-transform-origin: 50% 50% 0; }
}
.transition-opacity {
  transition: opacity 0.5s;
}
.transition-article {
  transition: transform 0.3s;
}
.transition-left {
  transition: transform 0.3s;
}
.move-left {
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}
.move-right {
  -webkit-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
}
.move-up {
  -webkit-transform: translateY(100%) !important;
  transform: translateY(100%) !important;
}
.transition-width {
  transition: width 0.5s;
}
.transition-check {
  transition:  opacity 0.5s, width 0.5s, transform 0.5s;
  opacity: 0;
}
.list-enter-active, .list-leave-active {
  transition: opacity 0.5s;
}
div.full-article {
  position: absolute;
  left: 0;
  background-color: #fff;
  height: 0;
  padding: 10px 20px;
  overflow-y: hidden;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  will-change: transform;
}
.full-article h2.title {
  font-size: 28px;
  line-height: normal;
  font-weight: bold;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.full-article .author {
  font-size: 17px;
}
.full-article img {
  max-width: 360px;
}
.full-article .body {
  text-align: left;
  margin-top: 7%;
}
.full-article .body p {
  font-size: 15px;
  font-weight: 400;
}
i.back-arrow {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  z-index: 500;
  display: none;
}
p.date {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}
.mdl-snackbar {
  text-align: center;
  font-family: 'Lora', serif;
  background-color: #F5A623;
  color: #fff;
  font-weight: bold;
}
.mdl-snackbar__text {
  float: none;
  width: inherit;
}
i.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  z-index: 1000;
  color: #333;
}
.drawer {
  width: 60%;
  max-width: 400px;
  height: 90vh;
  max-height: 100%;
  overflow: visible;
  overflow-y: auto;
  background-color: #333;
  color: #fff;
  position: absolute;
  z-index: 100;
  padding: 20px 10px;
  -webkit-transform: translateX(-1%);
  transform: translateX(-1%);
  will-change: transform;
}
.drawer li {
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #676767;
  padding-bottom: 10px;
}
.drawer h4 {
  font-size: 16px;
  margin: 0;
  font-family: 'Lora', serif;
  opacity: 0.5;
}
.drawer button {
  margin-bottom: 20px;
  color: #a0a0a0;
}
.display {
  display: block !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  display: none;
  will-change: opacity;
}
span.articles-number {
  background-color: #f5a623;
  border-radius: 2px;
  position: fixed;
  right: 13px;
  top: 12px;
  z-index: 500;
  min-width: 20px;
  color: #fff;
  padding: 4px;
  font-weight: bold;
}
span.dot {
  background-color: #f5a623;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  position: relative;
  top: 10px;
  right: 5px;
}
span.dot-white {
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 10px;
  right: 5px;
}
i.share {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  z-index: 500;
  display: none;
}
.a2a_kit {
  width: 180px;
  margin: auto;
  margin-bottom: 20px;
  display: none;
}
.no-articles {
  transform: translateY(50%);
  color: #fff;
}
.no-articles i {
  font-size: 10em;
  padding: 15px;
  background-color: #f5a623;
  border-radius: 4px;
  border: 6px solid #f5a623;
}
.pulse {
  animation: pulse 1.5s infinite;
}
.no-articles p {
  margin-top: 20px;
  color: #f5a623;
  font-weight: 800;
  font-size: 20px;
  display: none;
}
@keyframes pulse {
  0% {
    border-color: #f5a623;
  }
  50% {
    border-color: #f3d4a1;
  }
  100% {
    border-color: #f5a623;
  }
}
</style>

<style>
.body img {
  max-width: 100%;
  height: inherit;
}
.body a {
  color: #f5a623;
}
.body h2 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'Lora', serif;
}
.body h1 {
  font-size: 22px;
  line-height: 28px;
  font-family: 'Lora', serif;
}
.body p {
  font-size:17px; 
}
.body iframe {
  width: 100%;
  height: 235px;
  margin-top: 20px;
}
.router-link {
  display: flex;
  display: -webkit-flex;
}
</style>
