<template>
  <div id="app">
    <header id="main-header" v-on:click="goBack()">
      <span>Swipe<span class="press">Press</span></span>
    </header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
  methods: {
    goBack: function (e) {
      this.$router.push({path: '/'});
      const full_article = $('div.full-article');
      const back_arrow = $('i.back-arrow');
      full_article.css('left', '100vw');
      back_arrow.css('opacity', '0');
      $('.articles-number').css('display', 'inline-block');
      $('i.share').css('display', 'none');
      $('.a2a_kit').removeClass('display');
      window.localStorage.setItem('last_url', '/');
      // this.loadArticles();
      setTimeout(() => {
        full_article.find('img').attr('src', '');
        full_article.find('.body').html('');
        $('i.menu').css('display', 'inline-block');
        $('i.refresh').css('display', 'inline-block');
        $('#main-articles').css('display', 'block');
        full_article.css('height', '0');
        full_article.css('display', 'none');
        back_arrow.css('display', 'none');
        window.scrollTo(0,28);
        full_article.css('left', '0');
        full_article.css('top', '100vh');
      }, 400);
    }
  }
}
</script>

<style>
body {
  margin: 0;
  margin-top: -14px;
  overflow-x: hidden;
}

#app {
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A4A4A;
}

.app-toggle {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

main {
  text-align: center;
  margin-top: 70px;
}

header {
  margin: 0;
  height: 56px;
  background-color: #ffffff;
  color: #4A4A4A;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.drop {
  box-shadow: 1px 1px 6px #333;
}

header span {
  display: inline-block;
  position: relative;
  font-size: 22px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 800;
  box-sizing: border-box;
  padding-top: 8px;
}

span.press {
  color: #9B9B9B;
}
</style>
